
<div class="container">
  <div class="row justify-content-center ">
    <div class="col-md-6 ">
      <div class="card navbar text-white">
        <div class="card-body ">
          <h5 class="card-title">Log In</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-3">
              <%= f.text_field :identifier, placeholder: "Email or Phone Number" %>
            </div>
            <div class="mb-3">
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field text-white">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary btn-3d" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div> 
  </div>
</div>
        

    