<%= render "devise/shared/nav" %>
<h1>Edit Car</h1>
<div class="container bg-navy">
<%= form_for @posts, url: post_path(@posts), method: :patch do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :car_model %>
          <%= f.select :car_model, options_for_select(['Suzuki', 'Toyota', 'Honda', 'BMW']), {}, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :city %>
          <%= f.select :city, options_for_select(['Rawalpindi', 'Lahore', 'Quetta', 'Karachi', 'Peshawar', 'Islamabad']), {}, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :engine_detail %>
          <%= f.text_field :engine_detail, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :transmission_type %>
          <%= f.select :transmission_type, options_for_select(['Auto', 'Manual']), {}, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :milage %>
          <%= f.text_field :milage, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :color %>
          <%= f.select :color, options_for_select(['Black', 'Grey', 'White', 'Silver', 'Red']), {}, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :engine_capacity %>
          <%= f.text_field :engine_capacity, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :assembly_type %>
          <%= f.select :assembly_type, options_for_select(['Local', 'Imported']), {}, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
        
          <% @posts.images.each do |image| %>
            <%= image_tag url_for(image), class: "img-thumbnail border-primary", width: 100, height: 100 %>
          <% end %>
          <%= f.file_field :images, multiple: true, class: "form-control-file border-secondary" %>
        </div>
      </div>
       <div class="col-md-4">
      <div class="form-group">
          <%= f.label :primary_contact, 'Primary Contact Number' %>
          <%= f.text_field :primary_contact, class: "form-control", placeholder: '+92-xxx-xxxxxxx' %>
        </div>
        <div class="form-group">
          <%= f.label :secondary_contact, 'Secondary Contact Number' %>
          <%= f.text_field :secondary_contact, class: "form-control", placeholder: '+92-xxx-xxxxxxx' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit 'Update Post', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
  




  



