<%= simple_form_for(@car) do |f| %>
  <div class="form-inputs">
    <%= f.input :car_model %>
  </div>
   <div class="form-inputs">
    <%= f.input  :city %>
  </div>

  <div class="form-inputs">
    <%= f.input :price %>
  </div>

  <div class="form-inputs">
    <%= f.input :color %>
  </div>

   <div class="form-inputs">
    <%= f.input :engine_detail %>
  </div>

   <div class="form-inputs">
    <%= f.input :transmission_type %>
  </div>

   <div class="form-inputs">
    <%= f.input :milage %>
  </div>

   <div class="form-inputs">
    <%= f.input :assembly_type %>
  </div>

   <div class="form-inputs">
    <%= f.input :engine_capacity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<%end %>
